<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    {{{message}}}
    <div class="container border border-secondary ">
        <form method="POST" action="/posts/add" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">First name</label>
                    <input type="text" class="form-control" name="firstname" id="validationServer01" placeholder="First name" required> {{!--
                    <div class="valid-feedback">
                        Looks good!
                    </div> --}}
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer02">Last name</label>
                    <input type="text" class="form-control" name="lastname" id="validationServer02" placeholder="Last name" required> {{!--
                    <div class="valid-feedback">
                        Looks good!
                    </div> --}}
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="max-25 characters" maxlength="25">
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Image</label>
                <input type="file" class="form-control-file" name="mainimage" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Category</label>
                <select class="form-control" name="category" id="exampleFormControlSelect1">
                    {{!--
                    <option>Science</option>
                    <option>Design</option> --}} {{#each listOfCategories}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Content</label>
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>



            <div class="container h-100 d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-danger" type="reset">Cancel</button>
            </div>

        </form>
    </div>
<br>
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        // Replace the <textarea id="content"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('content');
    </script>
</body>

</html>